<div class="container">
  <div class="text-center">
    <h3>CREAR UNA CUENTA</h3><br>
  </div>
  <form #clienteForm="ngForm" novalidate>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Datos del usuario</h4>

          <div class="form-group">
            <label for="clave" class="col-form-label font-weight-bold">Clave de Usuario</label>
            <input type="text" class="form-control" id="clave" placeholder="Clave de Usuario"
                   [(ngModel)]="cliente.p_clave_usuario" name="clave" #clave="ngModel" required>
            <div [hidden]="clave.valid || clave.pristine" class="alert alert-danger">
              La clave de usuario es requerida.
            </div>
          </div>

          <div class="form-group">
            <label for="nombre" class="col-form-label font-weight-bold">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre"
                   [(ngModel)]="cliente.p_nombre" name="nombre" #nombre="ngModel" required>
            <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
              El nombre de usuario es requerido.
            </div>
          </div>

          <div class="form-group">
            <label for="apellidop" class="col-form-label font-weight-bold">Apellido Paterno</label>
            <input type="text" class="form-control" id="apellidop" placeholder="Apellido Paterno"
                   [(ngModel)]="cliente.v_primer_apellido" name="apellidop" #apellidop="ngModel" required>
            <div [hidden]="apellidop.valid || apellidop.pristine" class="alert alert-danger">
              Los appellidos del usuario son requeridos.
            </div>
          </div>

          <div class="form-group">
            <label for="apellidom" class="col-form-label font-weight-bold">Apellido Materno</label>
            <input type="text" class="form-control" id="apellidom" placeholder="Apellido Materno"
                   [(ngModel)]="cliente.v_segundo_apellido" name="apellidom" #apellidom="ngModel" required>
            <div [hidden]="apellidom.valid || apellidom.pristine" class="alert alert-danger">
              Los appellidos del usuario son requeridos.
            </div>
          </div>

          <div class="form-group">
            <label for="correo" class="col-form-label font-weight-bold">Correo</label>
            <input type="email" class="form-control" id="correo" placeholder="correo"
                   [(ngModel)]="cliente.p_correo_electronico"
                   pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,4})$"
                   name="correo" #correo="ngModel" required>
            <div [hidden]="correo.valid || correo.pristine" class="alert alert-danger">
              <div [hidden]="!correo.hasError('required')">El correo de usuario es requerido.</div>
              <div [hidden]="!correo.hasError('pattern')">No es un correo valido.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="telefono" class="col-form-label font-weight-bold">Telefono</label>
            <input type="text" class="form-control" id="telefono" placeholder="Telefono"
                   [(ngModel)]="cliente.p_telefono" name="telefono" #telefono="ngModel" required>
            <div [hidden]="telefono.valid || telefono.pristine" class="alert alert-danger">
              El telefono de usuario es requerido.
            </div>
          </div>

          <!--<div class="form-group">
            <label for="web" class="col-form-label font-weight-bold">Página WEB</label>
            <input type="text" class="form-control" id="web" placeholder="Página WEB"
                   [(ngModel)]="cliente.p_web" name="web" #web="ngModel" required>
            <div [hidden]="web.valid || web.pristine" class="alert alert-danger">
              El telefono de usuario es requerido.
            </div>
          </div>-->

          <div class="custom-controls-stacked d-block my-3">
            <label class="custom-control custom-radio">
              <input name="tipo" type="radio" [(ngModel)]="cliente.c_usuario_final" #c_tipo="ngModel" class="custom-control-input" value="S" required>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Usuario Final</span>
            </label>
            <label class="custom-control custom-radio">
              <input name="tipo" type="radio" [(ngModel)]="cliente.c_usuario_final" #c_tipo="ngModel" class="custom-control-input" value="N" required checked="checked">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Broker</span>
            </label>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Datos Fiscales</h4>
          <div class="form-group">
            <label for="rfc" class="col-form-label font-weight-bold">RFC</label>
            <input type="text" class="form-control" id="rfc" placeholder="RFC"
                   pattern="^[A-Z0-9_-]+$"
                   [(ngModel)]="cliente.p_rfc" name="rfc" #rfc="ngModel" required>
            <div [hidden]="rfc.valid || rfc.pristine" class="alert alert-danger">
              <div [hidden]="!rfc.hasError('required')">El RFC es requerido.</div>
              <div [hidden]="!rfc.hasError('pattern')">El RFC no es valido.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="razon" class="col-form-label font-weight-bold">Razón social</label>
            <input type="text" class="form-control" id="razon" placeholder="Razón social"
                   [(ngModel)]="cliente.p_razon_social" name="razon" #razon="ngModel" required>
            <div [hidden]="razon.valid || razon.pristine" class="alert alert-danger">
              El nombre del clientes es requerido.
            </div>
          </div>

          <fieldset class="form-group">
            <h4 class="card-title">Datos Del Servicio</h4>
            <div class="row">
              <div class="col-sm-10">
                <div class="form-check">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="cliente.b_emision" name="tiposervicio01" #tiposervicio01="ngModel">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Emisión CFDI</span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="cliente.b_cancelacion" name="tiposervicio02" #tiposervicio02="ngModel">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Cancelación CFDI</span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="cliente.b_validacion" name="tiposervicio03" #tiposervicio03="ngModel">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Validación CFDI</span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-group">
            <select name="tipotimbre" #tipotimbre="ngModel" [(ngModel)]="cliente.i_tipo_timbre" class="form-control" required>
              <option value="1">Timbre Puro</option>
              <option value="2">Sellado + Timbre</option>
              <option value="3">Construcción + Sello + Timbre</option>
            </select>
          </div>

          <div class="form-group">
            <label for="transacciones" class="col-form-label font-weight-bold">Transacciones mensuales</label>
            <input type="text" class="form-control" id="transacciones" placeholder="Transacciones mensuales"
                   [(ngModel)]="cliente.p_transacciones" name="transacciones" #transacciones="ngModel" required>
            <div [hidden]="transacciones.valid || transacciones.pristine" class="alert alert-danger">
              Las transacciones son requeridas.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" style="border: 0">
      <div class="card-body">
        <div class="form-group" [hidden]="!onProgress">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" [attr.aria-valuenow]="completado"
                 aria-valuemin="0" aria-valuemax="100" [style.width.%]="completado"> {{ completado }} %
            </div>
          </div>
          <p class="text-info">{{ message }}</p>
        </div>

        <button class="btn btn-masnegocio btn-sm float-right" [disabled]="!clienteForm.form.valid" (click)="crearApp()">Crear Aplicativo</button>
      </div>
    </div>

    <h6 class="text-danger">*Todos los campos son obligatorios</h6>
  </form>
</div>
